body{
background-image: url(/images/concert_stage.jpeg);
width: 100vw;
background-color: #000;
background-position: center;
background-repeat: no-repeat;
background-size: cover
};

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.key-button{
border: 5px #000 solid;
width: 50px;
height: 50px;
background: rgba(0,0,0,.8);
padding: 10px;
margin: 0px;

};

.letter-name{
font-size: 18px;
color: #AAA;
font-weight: bold;
    

};

.sound-description{
font-size: 12px;
color: #AAA;
font-weight: normal;
    
};

.footer{
margin: 0;
padding:0;
};
