body{
background-image: url(/images/concert_stage.jpeg);
width: 100vw;
background-color: #000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.keys{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.key-button{
border: 5px #000 solid;
width: 50px;
height: 50px;
background: rgba(0,0,0,.8);
padding: 10px;
margin: 0px;

}

.letter-name{
font-size: 16px;
color: #AAA;
font-weight: bold;
    

}

.sound-description{
font-size: 12px;
color: rgba(220, 235, 18, 0.671);
font-weight: normal;
    
}

.footer{
margin: 0;
padding:0;
}
